.MapControls{
  z-index: 99;
  position: absolute;
  transition: all 0.5s ease-out;

}

  .dropdown {
    z-index: 99;
    position: relative;
    display: inline-block;
    width: auto;
  }

    .dropbtn {
      position: relative;
      background-color: dimgray;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

  .logout-btn {
    z-index: 99;
    display: auto;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    cursor: default;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p {
    cursor: default;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content p:hover {
      background-color: rgba(20,20,20,0.1);
      cursor: default;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: gray;
  }

.toggleBtn1{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 15px;
  height: 56px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: crimson;
  transition: all 0.5s ease-out;
}

.toggleBtn1 > label {
  margin: 0;
}

.arrow-right {
  z-index: 99;
  width: 0px;
  height: 29px;
  border-right: 3px solid black;
  border-radius: 12px;
  transition: all 0.5s ease-out;
}


.MapControls .controlsInner {
  vertical-align: top;
  display: inline-block;
  transition: all 0.5s ease-out;
}

.col0{
  transition: all 0.5s ease-out;

}

input[type=checkbox]:checked ~ .col0 {
  position: relative;
  right: 431px;
  transition: all 0.5s ease-out;
}

input[type=checkbox]:checked ~ .col0 .controlsInner{
  transition: all 0.5s ease-out;
}

input[type=checkbox]:checked ~ .col0 .toggleBtn .arrow-right {
  position: relative;
  transform: rotate(-180deg);
  right: 0px;
  transition: all 0.5s ease-out;
}

.MapControls > input {
  display: none;
  position: absolute;
  left: -100vw;
}
